<header class="site-header">
  <div class="header-content">
    <a href="/" class="logo">
      <h1>CSE Motors</h1>
    </a>

    <div class="account-nav">
      <% if (typeof loggedin !== 'undefined' && loggedin) { %>
        <a href="/account/management" class="account-link">
          <img src="/images/site/icon.png" alt="Avatar" class="account-avatar">
          <span>Welcome, <%= accountData ? accountData.account_firstname : 'User' %></span>
        </a>
        <a href="/account/logout" class="nav-link">Logout</a>
      <% } else { %>
        <a href="/account/login" class="nav-link">My Account</a>
      <% } %>
    </div>
  </div>
  
  <%- include('./navigationpartial') %>
</header>