<div class="hero">
  <div class="herolabel">
    <h1>Welcome to CSE Motors!</h1>
  </div>
  <picture>
    <source srcset="/images/vehicles/delorean-tn.jpg" media="(max-width:500px)">
    <img src="/images/vehicles/delorean.jpg" width="400" alt="pic of a delorean vehicle">
  </picture>
  <div class="box">
    <h2>DMC Delorean</h2>
    <ul>
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
    </ul>
    <button>Own Today</button>
  </div>
</div>
<div class="large-view">
  <div class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's livin and I love it!" (5/5)</li>
    </ul>
  </div>
  <div id="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="card-grid">
      <div class="card">
        <img src="/images/upgrades/flux-cap.png" alt="pic of a flux capacitor">
        <a href="linkPageHere">Flux Capacitor</a>
      </div>
      <div class="card">
        <img src="/images/upgrades/flame.jpg" alt="pic of a flux capacitor">
        <a href="linkPageHere">Flame Decals</a>
      </div>
      <div class="card">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="pic of a bumper sticker that says hello world">
        <a href="linkPageHere">Bumper Stickers</a>
      </div>
      <div class="card">
        <img src="/images/upgrades/hub-cap.jpg" alt="pic of a hub cap">
        <a href="linkPageHere">Hub Caps</a>
      </div>
    </div>
  </div>
</div>