<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Classification</title>
</head>
<body>
  <main>
    <div class="form-container">
      <% if (message && message.length > 0) { %>
        <div class="flash-message"><%= message %></div>
      <% } %>
      <form action="/inv/add-classification" method="POST" novalidate>
        <fieldset>
          <legend>Classification Name</legend>
          <small><em>Name must be alphabetic characters only.</em></small>
          <input 
            type="text" 
            name="classification_name" 
            id="classification_name" 
            pattern="^[A-Za-z]+$" 
            required
            value="<%= classification_name || '' %>"
          >
        </fieldset>
        <button type="submit">Add Classification</button>
      </form>
    </div>
  </main>
  <a href="/inv">Back to Management</a>
</body>
</html>